<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'RP Name<sub>xyz</sub>'.html_safe, root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown <%= active_game('the-elder-scrolls') %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">The Elder Scrolls <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class='<%= active_race("breton") %>'>
              <%= link_to 'Breton', game_race_path('the-elder-scrolls', 'breton') %>
            </li>
            <li class='<%= active_race("redguard")%>'>
              <%= link_to 'Redguard', game_race_path('the-elder-scrolls', 'redguard') %>
            </li>
            <li class='<%= active_race("orc")%>'>
              <%= link_to 'Orc', game_race_path('the-elder-scrolls', 'orc') %>
            </li>
            <li role="separator" class="divider"></li>
            <li class='<%= active_race("nord")%>'>
              <%= link_to 'Nord', game_race_path('the-elder-scrolls', 'nord') %>
            </li>
            <li class='<%= active_race("dark-elf-dunmer")%>'><%= link_to 'Dark Elf (Dunmer)', game_race_path('the-elder-scrolls', 'dark-elf-dunmer') %></li>

           <li class='<%= active_race("argonian")%>'>
              <%= link_to 'Argonian', game_race_path('the-elder-scrolls', 'argonian') %>
            </li>
            <li role="separator" class="divider"></li>
            <li class='<%= active_race("high-elf-altmer")%>'><%= link_to 'High Elf (Altmer)', game_race_path('the-elder-scrolls', 'high-elf-altmer') %></li>
            <li class='<%= active_race("wood-elf-bosmer")%>'><%= link_to 'Wood Elf (Bosmer)', game_race_path('the-elder-scrolls', 'wood-elf-bosmer') %></li>

           <li class='<%= active_race("khajiit")%>'>
              <%= link_to 'Khajiit', game_race_path('the-elder-scrolls', 'khajiit') %>
            </li>
          </ul>
        </li>

        <li class="dropdown <%= 'active' if params[:game_id] == 'world-of-warcraft' %>">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">World of Warcraft <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Orc</a></li>
            <li><a href="#">Troll</a></li>
            <li><a href="#">Undead</a></li>
            <li><a href="#">Tauren</a></li>
            <li>
              <%= link_to 'Blood Elf', game_race_path('world-of-warcraft', 'blood-elf') %>
            </li>
            <li><a href="#">Goblin</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Human</a></li>
            <li><a href="#">Gnome</a></li>
            <li><a href="#">Dwarf</a></li>
            <li><a href="#">Night Elf</a></li>
            <li>
              <%= link_to 'Draenei', game_race_path('world-of-warcraft', 'draenei') %>
            </li>
            <li><a href="#">Worgen</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Pandaren</a></li>
          </ul>
        </li>

        <!-- <li class="dropdown disabled <%= 'active' if params[:game_id] == 'guild-wars' %>"> -->
          <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Guild Wars <span class="caret"></span></a> -->
<!--           <ul class="dropdown-menu">
            <li><a href="#">Human</a></li>
            <li><a href="#">Norn</a></li>
            <li><a href="#">Charr</a></li>
            <li><a href="#">Asura</a></li>
            <li><a href="#">Sylvari</a></li>
          </ul>
 -->
 <!-- </li> -->

      </ul>
  </div><!-- /.container-fluid -->
</nav>
